<meta>
<link rel="prefetch" href="/assets/l3.gif">
<link rel="prefetch" href="/assets/final-fade.gif">
</meta>
<%= javascript_include_tag 'text-generator-bio.js' %>
<%= stylesheet_link_tag 'logo.css' %>
<!-- REMOVED 'draw.js'
REMOVED 'vivus.js' -->
<%= javascript_include_tag 'logo-writer.js' %>
<%= javascript_include_tag 'size-canvas.js' %>
<%= javascript_include_tag 'jquery.inview.min.js' %>
<header id="header" role="banner" class="fh5co-project js-fh5co-waypoint no-border" data-colorbg="#000000" data-next="yes">
  <div class="fh5co-loader"></div>

    <div class="container" id="header_padding">
        <div class="fh5co-text-wrap animate-box">
          <div class="fh5co-intro-text">
          <h1>Timothy O'Bara</h1>
          <h2 id="h2_container"></h2>
          </div>
        </div>
    </div>
      <div class="btn-next animate-box fh5co-learn-more" id="portlink">
        <a href="#" class="scroll-btn">
          <span>See the details</span>
          <img src="/assets/portpressed.png" id="my_port_pressed" alt="custom chevron down">
        </a>
      </div>
    </header>

    <div class="js-fh5co-waypoint fh5co-project-detail" id="fh5co-main" data-colorbg="">
      <div class="container">


        <div class="row">
          <div class="col-md-12">

            <div class="row row-bottom-padded-sm animate-box">
              <div class="col-md-3">
                <h3 class="fh5co-section-heading"><span class="fh5co-number">N<sup>o</sup> 1</span> Bio</h3>
              </div>
              <div class="col-md-9">
                <p class="fh5co-lead">
                  As far back as I can remember, my most basic level of curiosity has been intertwined with technology.&nbsp;  I have always had an uncontrollable desire to understand how things work.&nbsp; I would take apart the VCR just see if I could put it back together.&nbsp; I would tinker with the <a href="https://en.wikipedia.org/wiki/IBM_PC_DOS#1.00">PC DOS</a> prompt on the original <a href="https://en.wikipedia.org/wiki/IBM_Personal_Computer">IBM PC</a> left behind at our new apartment <span id="first-p-font-italic">—even though I could barely ride a bike.</span>&nbsp;  I needed to know technology’s purpose.&nbsp;  What actions could it perform?&nbsp;  What was its function?&nbsp; This is the story of how I became a web developer.</p>
                  <p>In elementary school, we were lucky enough to have one or two Apple computers in every classroom.&nbsp; Fighting fellow classmates for a turn on these awkward machines, so we could play games was a daily occurence.&nbsp;  One of these games included LogoWriter.&nbsp;  Little did I know, by typing in commands to move a turtle to create shapes, colors, and designs was basic programming at its best.&nbsp;

               In short time these computers and LogoWriter had run their course.&nbsp;  Again.&nbsp;  I was lucky enough to have a school that managed to purchase Windows PCs and build a computer lab within our library.&nbsp; Why play with a pixelated turtle when there was a machine with a graphical user interface?&nbsp; It was a whole new world which had multiple games just a double clickl away (e.g. Minesweeper and SkiFree).&nbsp;  However, my curiosity was not satisfied by these games.&nbsp; I was more interested in the computer’s hardware and software as a whole.&nbsp; What does it really do?&nbsp; Why does it do it?&nbsp; What is its real purpose?&nbsp; I scoured through every possible program and file trying answer these questions.&nbsp; It didn’t take long until I had mastered the less known ins-and-outs of Microsoft Windows 3.1; all while creating numerous technical issues by executing every possible sequence of MS-DOS commands.&nbsp; Just when I thought there was nothing left to dissect, along came the start of the information revolution: The Internet.&nbsp; I frequently used multiple online services: America Online, CompuServe (<span id="font-italic">the compatibility of their images was a headache back then: <a href="https://en.wikipedia.org/wiki/GIF">GIPHY</a></span>).&nbsp; Even in the years prior, a few of my friends had access to earlier online services, such as Prodigy.&nbsp;  As amazingly intriguing I found all of these services, they felt like they were lacking something.&nbsp; They felt standardized, a limited programmed extension, an interactive Home Shopping Network for lack of a better comparison.&nbsp; The internet age changed that.
                </p>
                <p>I no longer was restricted to analyzing the hardware and software of my own computer.&nbsp; I could dig deeper, connect to other computers, and other people.&nbsp;  And have these connections interact simultaneously; a free Unix shell account was only an email request away.&nbsp;  Once access was granted, I could use these their system to setup my own <span id="font-italic"><a href="https://en.wikipedia.org/wiki/Eggdrop">Eggdrop</a></span> bot.&nbsp;  This new access to people and information enabled me to learn at an alarming pace.&nbsp;  My unanswered questions were no longer limited to just being part of my thoughts.&nbsp; I found out other people had the very same thoughts, the very same questions.&nbsp; Now I had the answers to these questions, I had access to new questions, new ideas.&nbsp;  The very purpose I was trying understand of this <span id="font-italic">loud constant beeping box</span> (manufacturer defect on the <span id="font-italic"><a href="http://pbclub.pwcsite.com/wiki/index.php/Legend_10CD">Packard Bell Legend 10CD</a></span>) changed before my eyes.&nbsp;  <span id="font-italic-bold">These were my early days.</span></p>
              </div>
            </div>

            <div class="row row-bottom-padded-sm animate-box">
              <div class="col-md-3" id="aligner"></div>
              <div class="col-md-9">
                <figure class="fh5co-bio-photo"><img src="assets/R_1.png" class="img-responsive" alt="Timothy OBara Resume image"></figure>
              </div>
            </div>
            <div class="row row-bottom-padded-sm animate-box">
              <div class="col-md-12" id="aligner">
                <%= link_to "Download Resume", asset_path("OBara-Timothy.pdf") %>
              </div>
            </div>


            <div class="row animate-box row-bottom-padded-sm">
              <div class="col-md-3">
                <h3 class="fh5co-section-heading"><span class="fh5co-number">N<sup>o</sup> 2</span> Experience</h3>
              </div>
              <div class="col-md-9">

                <p class="fh5co-lead">My experience is strengthened with every new challenge.</p>
                <p>Whether creating a lead generation system through screen scraping.  Identifying variables to increase productivity/ sales in large datasets; no challenge is too big or too small.  They are what drive me to learn more.</p>
              </div>
            </div>


            <div class="row animate-box row-bottom-padded-sm">
              <div class="col-md-3">
                <h3 class="fh5co-section-heading"><span class="fh5co-number">N<sup>o</sup> 3</span> Connect</h3>
              </div>
              <div class="col-md-9">
                <ul class="fh5co-social fh5co-stack">
                  <li>
                    <a href="mailto:tim.obara@gmail.com"><i class="icon fa-envelope-o"></i> Send Email</a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/in/timobara"><i class="icon fa-linkedin"></i> LinkedIn</a>
                  </li>
                  <li>
                    <a href="https://www.facebook.com/timothy.obara"><i class="icon fa-facebook"></i> Facebook</a>
                  </li>
                  <li>
                    <a href="http://github.com/tobara"><i class="icon fa-github"></i> Github</a>
                  </li>
                  <li>
                    <a href="tel://+1-978-414-5446"><i class="icon fa-phone"></i> Call</a>
                  </li>

                </ul>
              </div>
            </div>







            <div class="row animate-box">
              <div class="col-md-3">
                <h3 class="fh5co-section-heading"><span class="fh5co-number">N<sup>o</sup> 4</span> My Location</h3>
              </div>
              <div class="col-md-9">
                <p class="fh5co-lead">Newburyport, Massachusetts USA</p>
                <dfn><p>42.8126° N, 70.8773° W</p></dfn>
              <div class="col-md-3">
                              <div class="map">
                <span class="pulse">
                </span>
              </div>
              <div class="col-md-3">
                <!-- <div id="fh5co-map"></div> -->

              </div>

            </div>




          </div>
        </div>
      </div>
    </div>

    <footer id="fh5co-footer" class="js-fh5co-waypoint">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p><small>&copy; 2018 Timothy-OBara.com</p>

          </div>
        </div>
      </div>
    </footer>

  </div>

