<!DOCTYPE HTML>
<html>
	<head>
		<title>Aerial by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><%= javascript_include_tag 'html5shiv.js' %><![endif]-->
		<%= stylesheet_link_tag 'font-awesome.min.css' %>
		<%= stylesheet_link_tag 'main.css' %>
		<!--[if lte IE 8]><%= stylesheet_link_tag 'ie8.css' %><![endif]-->
		<!--[if lte IE 9]><%= stylesheet_link_tag 'ie9.css' %><![endif]-->
	</head>
	<body class="loading">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Timothy O'Bara</h1>
						<p>Web Developer &nbsp;&bull;&nbsp; Big Data Enthusiast &nbsp;&bull;&nbsp; Extraterrestrial</p>
						<nav>
							<ul>
								<li><a href="#" class="icon fa-linkedin"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-phone"><span class="label">Dribbble</span></a></li>
								<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
								<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<span class="copyright">&copy; TimothyOBara.com </span>
					</footer>

			</div>
		</div>
		<!--[if lte IE 8]><%= javascript_include_tag 'respond.min.js' %><![endif]-->
		<%= javascript_include_tag 'onload.js' %>



<%= link_to 'Projects', projects_path %>


	</body>
</html>
